.GameCommunity {
  min-height: 100vh;
  padding-top: calc((100vh - 850px) / 2);
  color: var(--primary-color);
  font-family: var(--primary-font);
  overflow: hidden;
}

.GameCommunity h2 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 30px;
}

.GameCommunity h3 {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: bold;
}

.GameCommunity-Slider-Game-arrow-left {
  z-index: 10;
  transform: scaleX(-1) !important;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 140px;
  padding: 30px 15px 60px 15px;
  background-image: linear-gradient(to right, transparent, var(--white-color));
  cursor: pointer;
}

.GameCommunity-Slider-Game-arrow-right {
  z-index: 10;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 140px;
  padding: 30px 15px 60px 15px;
  background-image: linear-gradient(to right, transparent, var(--white-color));
  cursor: pointer;
}

.GameCommunity-Slider-Game-item {
  cursor: pointer;
}

.GameCommunity-Slider-Game-item-seleted {
  border: 3px solid var(--primary-color);
  padding: 3px;
  transition: 0.1s;
}

.GameCommunity-Slider-Game-item img {
  height: 96px;
  width: 96px;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: 0.1s;
}

.GameCommunity-search-post input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid var(--primary-color);
  border-right: 0;
  color: var(--primary-color);
  font-weight: 500;
}

.GameCommunity-search-post input::placeholder {
  color: var(--primary-color);
}

.GameCommunity-search-post input:focus {
  outline: 0;
}

.GameCommunity-search-post img {
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-left: 0;
}

.GameCommunity-Slider-Post {
  margin-top: 30px;
  margin-bottom: 50px;
}

.GameCommunity-Slider-Post-paging {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

/* lg */
@media screen and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 576px) {
  .GameCommunity h2 {
    font-size: 25px;
  }

  .GameCommunity-Slider-Game-item {
    font-size: 13px;
  }

  .GameCommunity-Slider-Game-item-seleted {
    border: 1px solid var(--primary-color);
    padding: 3px;
  }
  
  .GameCommunity-Slider-Game-item img {
    height: 60px;
    width: 60px;
  }

  .GameCommunity-Slider-Game-arrow-left {
    height: 90px;
    padding: 25px 15px 35px 15px;
  }
  
  .GameCommunity-Slider-Game-arrow-right {
    height: 90px;
    padding: 25px 15px 35px 15px;
  }
}