.StickyMenu-root {
  height: 76px;
  background: var(--white-color);
  padding-left: 64px;
  padding-right: 78px;
}

@media screen and (max-width: 576px) {
  .StickyMenu-root {
    height: 50px;
    padding-left: 18px;
    padding-right: 13px;
  }
  .StickyMenu-root img {
    height: 40%;
  }
}