.ContactRegisterForm {
  background: #EBF6FF;
  padding-top: calc((100vh - 420px) / 2);
  min-height: 100vh;
}

.ContactRegisterForm-image-container {
  margin-left: -285px;
}


/* lg */
@media screen and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 576px) {
  .ContactRegisterForm {
    padding: 100px 0;
  }
}