.Footer {
  background: var(--primary-color);
}

.Footer p, h3 {
  font-family: var(--primary-font);
  line-height: 1.5;
  color: var(--white-color);
  margin: 0;
}

.Footer-desktop-contents {
  text-align: start;
  padding: 120px 0;
}

.Footer-desktop-contents h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}

.Footer-desktop-contents p {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.Footer-desktop-contents-Logo {
  object-fit: none;
  width: 355px;
}

.Footer-desktop-contents-language {
  height: 50px;
  width: 160px;
  padding: 10px;
  background: var(--white-color);
  color: var(--primary-color);
  font-weight: bold;
}

.Footer-desktop-copyright {
  border-top: 3px solid var(--white-color);
  padding: 20px 0;
}

.Footer-desktop-copyright p {
  font-size: 15px;
  font-weight: 400;
}

.Footer-mobile-social {
  background: #C4E4FF;
  padding: 15px 0;
}

.Footer-mobile-social h3 {
  font-size: 12px;
  font-weight: bold;
  color: var(--primary-color);
}

.Footer-mobile-contents p {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  line-height: 2;
}

.Footer-mobile-copyright p {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}

/* lg */
@media screen and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 576px) {
}